<div *ngIf="groupes">
  
    <div class="minimal-header">
      <h3>        {{ groupes.group.nom }}
      </h3>
  </div>
  

  <div *ngIf="contextModal">
   <br>
   <div class=" d-flex justify-content-center">

    <button
   type="button"
   class="btn btn-inverse-secondary"
   (click)="openAddCertifDialog(groupes.group.id)"
 >
   Certificats
 </button>
 </div>
   <br>
    <h4>Liste des Collaborateurs</h4>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>

          <th>Nom</th>
          <th>Prénom</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let collaborateur of groupes.collaborateurs
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: p,
                    totalItems: groupes.collaborateurs.length
                  }
          "
        > <td>
          <img
            [src]="'assets/images/' + collaborateur.image"
            alt="Image Collaborateur"
          />
        </td>
          <td>{{ collaborateur.nom }}</td>
          <td>{{ collaborateur.prenom }}</td>
         
         
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div>
    <div *ngIf="modifyCertificatesModal">
      <div class="certificate-dialog">
        <h2 mat-dialog-title class="dialog-title">Modifier Certificats</h2>

        <div class="form-container">
          <form
            [formGroup]="certificateForm"
            (ngSubmit)="modifyCertificates()"
            class="form-container"
          >
            <!-- <mat-form-field class="form-field">
              <mat-label>Mois</mat-label>
              <input matInput  placeholder="Month" />
            </mat-form-field> -->
            &nbsp; &nbsp; <label>Mois : </label>
            &nbsp; &nbsp; <select class="form-control" formControlName="month" name="month">
              <option value="" disabled selected>Choisissez un mois</option>
              <option *ngFor="let month of months" [value]="month">{{ month }}</option>
            </select>
            
            <div class=" d-flex justify-content-center">

            <button class="btn modify-button" type="submit">
              Modifier 
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="nouser">
      <h2 mat-dialog-title>Aucun utilisateur</h2>
      <mat-dialog-content>
        <p>Aucun utilisateur n'est affecté à ce groupe.</p>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>OK</button>
      </mat-dialog-actions>
    </div>
    <div *ngIf="certificatesGenerated">
      <h4 mat-dialog-title>Certificats déjà générés</h4>

      <div class="confirmation-dialog">
        <mat-dialog-content>
          <p>Les certificats ont déjà été générés pour ce groupe.</p>
        </mat-dialog-content>
        <div class="button-container">
         
         &nbsp; <button mat-button class="btn btn-primary" (click)="openModifyCertifDialog()">
           Modifier
          </button>
          &nbsp;
          <button
            mat-button
            class="btn btn-danger"
            (click)="deleteCertificates(groupes.group.id)"
          >
Supprimer          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showFormGenererCertif">
      <div class="certificate-dialog">
       &nbsp;  &nbsp;  &nbsp;   <h4 mat-dialog-title class="dialog-title">Generer Certificats </h4>

        <div class="row">
          <form (ngSubmit)="saveCertif()">
            &nbsp; &nbsp; <label>Mois : </label>
            &nbsp; &nbsp; <select class="form-control" [(ngModel)]="certif.month" name="month">
              <option value="" disabled selected>Choisissez un mois</option>
              <option *ngFor="let month of months" [value]="month">{{ month }}</option>
            </select>
            
            <br />
            <mat-progress-bar
              *ngIf="isLoading"
              mode="indeterminate"
            ></mat-progress-bar>
            <br />
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!isValidCertif()"
            >
              Generer Certificats
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="editing">
      <h2>Modifier le Nom du Groupe</h2>
      <form>
        <div class="form-group">
          <label for="newGroupName">Nouveau Nom du Groupe:</label>
          <input
            type="text"
            class="form-control"
            id="newGroupName"
            [(ngModel)]="nom"
            name="nom"
          />
        </div>
        <button type="button" class="btn btn-primary" (click)="editGroup()">
          Modifier
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="showAddParticipantFormFlag">
  <h2>Ajouter des nouveau participants</h2>
  <form [formGroup]="groupForm" (ngSubmit)="ajouterGroupe()">
    <div class="form-group" formGroupName="collaborateursId">
      <label>Collaborateurs confirmés:</label><br />
      <div *ngFor="let collaborateur of collaborateursConfirme; let i = index">
        <input
          type="checkbox"
          [formControlName]="i"
          [value]="collaborateur.idC"
        />
        {{ collaborateur.nom }} {{ collaborateur.prenom }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
  </form>
</div>
