
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Mon equipe</h4>
<button class="btn btn-inverse-primary" (click)="envoyerBilan()"> Envoyer Bilan Annuel A Mon Equipe</button>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Collaborateur</th>
            </tr>
          </thead>
          <tbody *ngFor="let group of members">
            <tr *ngFor="let member of group">
              <td class="py-1">
                <img [src]="'assets/images/' + member?.image" alt="image" />
              </td>
              <td>{{ member?.nom }} {{ member?.prenom }}</td>
              <td><button
                
                class="btn btn-inverse-info"
                (click)="redirigerVersBilan(member.idUser)"
              >
                Voir détails
              </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
