<!-- create-groups.component.html -->

<div class="container">
    <h2>Créer un nouveau groupe</h2>
    <form [formGroup]="groupForm" (ngSubmit)="ajouterGroupe()">
        <div>
          <label for="nom">Nom :</label>
          <input type="text" id="nom" formControlName="nom">
        </div>
      <div class="form-group">
        <label>Collaborateurs confirmés:</label><br>
        <div *ngFor="let collaborateur of collaborateursConfirme">
            <input  [(ngModel)]="selectedCollaborateurs" type="checkbox" [value]="collaborateur.idC" formControlName="collaborateurId"> {{ collaborateur.idC }} {{ collaborateur.nom }} {{ collaborateur.prenom }}
          </div>
          
      </div>
      <button type="submit" class="btn btn-primary">Créer</button>
    </form>
  </div>
  