<br />
<div class="col-12 mb-4">
  <h2 style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px;">Catalogue de formation</h2>
</div>
<div class="card-container">
  <ng-container *ngIf="events.length > 0; else noManagerServices">
    <div class="container" *ngFor="let event of events">
      <div class="card hovercard">
        <img [src]="'assets/images/Formations/' + event.image" alt="" />
        <div class="avatar">
          <img [src]="'assets/images/' + event.formateurImage" alt="" />
        </div>
        <div class="info">
          <div class="title">
            {{ event.title }}
          </div>
          <div class="desc">Animé par : {{ event.formateurName }}</div>
          <div class="desc">Durée : {{ event.duree }} Heures</div>
          <div class="desc">Nombre de Chapitre : {{ event.chapitre }}</div>
        </div>
        <div class="bottom">
          <div class="button-container">  
            <button
              class="btn btn-inverse-success"
              (click)="postulerAuPoste(event.id)"
            >
              Faire une demande
            </button>
            <button
              class="btn btn-inverse-info"
              (click)="openModalById(event.id)"
            >
              <i class="mdi mdi mdi-eye"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #noManagerServices>
  <p>Aucune formation disponible pour le moment.</p>
</ng-template>
