<style>

        .disabled-cursor {
          cursor: not-allowed; /* Utiliser le curseur "not allowed" lorsque le bouton est désactivé */
        }
        .dropdown {
    position: relative;
    display: inline-block;
  }
 

  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
        .custom-error-message {
            color: red; /* Couleur du texte en rouge */
            font-size: 0.8rem; /* Taille de la police */
            margin-top: 0.25rem; /* Marge en haut pour séparer le message d'erreur du champ de saisie */
        }
        /* Couleur de la barre de progression */
        .progress-bar-strength {
            background-color: #28a745; /* Couleur verte */
        }
        
        /* Animation de la barre de progression */
        .progress-bar-strength {
            transition: width 0.3s ease; /* Animation fluide de la largeur */
        }
</style>
 <div class="card">
  <div class="card-body">
    <h4 class="card-title">Fiche de poste</h4>
    <hr>
    <form [formGroup]="managerServiceForm" (ngSubmit)="onSubmit()">
  
      <div *ngIf="currentStep === 1">
        <div class="d-flex justify-content-end">
          <a  class="btn btn-link" (click)="nextStep()">
            <p> <i class="mdi mdi-arrow-right"> </i>   </p>  </a>  
          </div>
                  <p class="card-description">Ajout Fiche de poste</p>
        <div class="row">
          <div class="col-md-6">
            <!-- Titre input -->
            <div class="form-group">
              <label for="titre">Titre</label>
              <input type="text" class="form-control" id="titre" formControlName="titre" placeholder="Titre" required
                [ngClass]="{ 'is-invalid': managerServiceForm.get('titre')?.invalid && managerServiceForm.get('titre')?.touched }">
              <div *ngIf="managerServiceForm.get('titre')?.invalid && managerServiceForm.get('titre')?.errors?.['required'] && managerServiceForm.get('titre')?.touched"
                class="custom-error-message">
                Le titre est obligatoire
              </div>
            </div>
          </div>
         
          <div class="col-md-6">
            <!-- Description input -->
            <div class="form-group">
              <label for="typeContrat">Type de Contrat</label>
              <select class="form-control" id="typeContrat" formControlName="typeContrat" required
                      [ngClass]="{ 'is-invalid': managerServiceForm.get('typeContrat')?.invalid && managerServiceForm.get('typeContrat')?.touched }">
                      <option value="" disabled selected>-- Sélectionnez un type de contrat --</option>
                        <option value="Professionnalisation">Professionnalisation</option>   
                        <option value="TempsPartiel">TempsPartiel</option>
                        <option value="Consultant">Consultant </option>  
                      <option value="CDI">CDI</option>
                      <option value="CDD">CDD</option> 
                      <option value="Temporaire">Temporaire</option> 

                             </select>
              <div *ngIf="managerServiceForm.get('typeContrat')?.invalid && managerServiceForm.get('typeContrat')?.touched"
                   class="custom-error-message">
                Le Type de Contrat est obligatoire
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Description" required
                [ngClass]="{ 'is-invalid': managerServiceForm.get('description')?.invalid && managerServiceForm.get('description')?.touched }"></textarea>
              <div *ngIf="managerServiceForm.get('description')?.invalid && managerServiceForm.get('description')?.errors?.['required'] && managerServiceForm.get('description')?.touched"
                class="custom-error-message">
                La description est obligatoire
              </div>
            </div>
            <!-- Nombre de Postes Disponibles input -->
           
          </div>
        </div>
        </div>
        <div class="popup">
          <div *ngIf="currentStep === 2">
            <div class="d-flex justify-content-start">
              <a  class="btn btn-link" (click)="Step()">
                <p> <i class="mdi mdi-arrow-left"> </i>   </p>   </a> 
            </div>
            <p class="card-description">
              Ajouter des competences pour  </p>
            <form>
              <div >
                <label>Rechercher une compétence:</label>
                <input type="text"  class="form-control" [(ngModel)]="searchTerm" (input)="searchCompetences()" name="searchTerm">
                <!-- Affichage des résultats de la recherche -->
                <ul *ngIf="searchResults.length > 0">
                  
                    <li *ngFor="let competence of searchResults" (click)="selectCompetence(competence)">
                        {{ competence.nom }}
                       
                    </li>
       
                </ul>
                <!-- Message si aucune compétence n'est trouvée -->
                  <p *ngIf="searchResults.length === 0 && searchTerm.length >= 3 ">Aucune compétence trouvée.</p>
        
              </div>

<div>
  <p>Compétences sélectionnées:</p>
  <ul>
    <li *ngFor="let competence of selectedCompetences">
      {{ competence.nom }} <!-- Accès à la propriété 'nom' de chaque compétence -->
      <button (click)="cancelSelection(competence)" class="btn btn-link" >Annuler</button>

    </li>
  </ul>
</div>

            </form>
           </div>
           <div class="d-flex justify-content-end" *ngIf="currentStep === 2">
            <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
          </div>
        
        
            
        
        
     
    
      </div>
    </form>
  </div>
</div>
