<div class="container">
  <div class="card">
      <div class="card-body">
        <div class="poste-details">
          <h2 *ngIf="poste">{{poste.titre}}</h2>
          <h6>Reference du poste : #{{poste.id}}</h6>
      </div>
      
  <h6>Type de Contrat: {{poste.typeContrat}} </h6>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card-body dashboard-tabs p-0">
       
          <div class="tab-content py-0 px-0">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div *ngIf="poste">
                    <br>
                    <!-- Première carte pour la description -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Description</h4>
                                    {{ poste.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Deuxième carte pour les compétences -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Compétences</h4>
                                    <div class="pill-container">
                                        <span *ngFor="let competence of poste.competences; let i = index" class="pill">
                                            {{ competence.nom }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
          </div>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>

