
<div class="wrapper bg center-x flex-row">
   <main class="flex-row mt-1 mb-4 max-1200 " style="background-color: #f3f3f3;">
    
      <div class="left-side flex-col job-main padding-1-0">
        <div class="search-card" >
            <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Rechercher un poste..." (input)="filterPostes()">
        </div>
       <br>
         <div class="job-listing-container" *ngFor="let poste of filteredPostes" (click)="togglePosteDetails(poste.id)">
            <div class="information-container padding-half-0 flex-col">
                <div class="job-title-container padding-half-0" >
                    <!-- Ajout de l'image ici -->
                    <div style=" align-items: center;     display: flex;
                    ">
                    <div>
                </div>
                <div>
                <strong><p class="job-title">{{ poste.titre }}</p></strong></div>
                </div>
                    <span class="font-light-sm"><p><span class="icon">🏢</span> Departement: {{ poste.managerService ? poste.managerService.department : 'N/A' }}</p></span>
                </div>
            </div>
        </div>
        
        
         <div *ngIf="filteredPostes && filteredPostes.length === 0">
             <p>Aucun poste trouvé.</p>
         </div>
     </div>
     
       <div class="right-side job-main" *ngIf="selectedPosteId !== null">
           <header class="header-listing flex-row sticky center padding-1" style="background-color: #f3f3f3;">
               <div class="job-listing-information-container flex-col mr-auto">
                   <div class="job-title-container padding-half-0">
                       <strong><p class="job-title">{{ selectedPoste?.titre }}</p></strong>
                       <h6 *ngIf="selectedPoste">Reference du poste : #{{selectedPoste.id}}</h6>
                     </div>
                   <div class="location-container padding-half-0">
                       <span class="font-light-sm">
                           <p><span class="icon">👤</span> Manager Service: {{ selectedPoste?.managerNom ? selectedPoste?.managerNom : 'N/A' }} {{ selectedPoste?.managerPrenom ? selectedPoste?.managerPrenom : 'N/A' }}</p>
                           <p><span class="icon">📍</span> Type de Contrat: {{ selectedPoste?.typeContrat }}</p>
                       </span>
                   </div>
               </div>
               <div class="apply-container padding-half-0">
                   <button class="btn" type="submit" (click)="selectedPoste && selectedPoste.id ? postulerAuPoste(selectedPoste.id) : null">
                       Postuler
                   </button>
               </div>
           </header>
           <div class="job-description-container padding-1">
               <div class="title padding-1-0">
                   <h3>Description</h3>
               </div>
               <div class="job-description padding-half-0">
                   <p class="job-desc-text">{{ selectedPoste?.description }}</p>
                   <hr>
                   <div class="title padding-1-0">
                       <h3>Compétences Requises</h3>
                   </div>
                   <div class="pill-container">
                       <span *ngFor="let competence of selectedPoste?.competences; let i = index" class="pill">
                           {{ competence.nom }}
                       </span>
                   </div>
               </div>
           </div>
       </div>
       <div class="right-side job-main" *ngIf="selectedPosteId === null">
         <div class="message-container">
             <p>Veuillez sélectionner un poste.</p>
         </div>
     </div>
     
   </main>
</div>
