<style>/* Style pour les champs de saisie invalides */
    .disabled-cursor {
      cursor: not-allowed; /* Utiliser le curseur "not allowed" lorsque le bouton est désactivé */
    }
    
    .custom-error-message {
        color: red; /* Couleur du texte en rouge */
        font-size: 0.8rem; /* Taille de la police */
        margin-top: 0.25rem; /* Marge en haut pour séparer le message d'erreur du champ de saisie */
    }
    /* Couleur de la barre de progression */
    .progress-bar-strength {
        background-color: #28a745; /* Couleur verte */
    }
    
    /* Animation de la barre de progression */
    .progress-bar-strength {
        transition: width 0.3s ease; /* Animation fluide de la largeur */
    }
  /* Ajoutez un style personnalisé pour définir la hauteur de la carte */
  .custom-card {
    max-height: 100vh;
}

  .custom-margin {
    margin-top: 1rem;
 
}

        </style><body>
    <div class="authincation h-100" >
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-7">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-8 offset-xl-2 col-lg-6 offset-lg-3 custom-card custom-margin">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4"><img src="../../../assets/images/logos.PNG" class="img-fluid" style="max-width: 170px;"></h4>
                                   
                                   <div class="mb-4">
                                       <img src="../../../assets/images/4you.PNG" style="max-width: 40px;">
                                        <b class="ml-2">Bienvenue sur 4You</b>
                                   
                                   
                                    <p class=" mb-4">Connectez-vous pour accéder à l'ensemble de nos fonctionnalités.</p>
                                </div>
                                <form
                                action=""
                                method="post"
                                #loginForm="ngForm"
                                (ngSubmit)="login(loginForm)"
                                role="form"
                              >                    
                              <div *ngIf="accountInactiveError" class="custom-error-message">
                                {{ accountInactiveError }}
                              </div>    
                              <div *ngIf="passwordError" class="custom-error-message">
                                {{ passwordError }}
                              </div>              
                                        <div class="form-group row">
                                            <div class="col-md-6 col-lg-12 mb-3 mb-md-0" >
                                                <label><strong>Email</strong></label>
                                                <input
              ngModel
              type="input"
              name="email"
              id="name"
              class="form-control"
               placeholder="hello@example.com"
              [(ngModel)]="email"
              required
              #thisemail="ngModel"
              [ngClass]="{ 'is-invalid': thisemail.invalid && thisemail.touched }"
>
              <div *ngIf="thisemail.touched && !thisemail.value && !isSopraHrEmail(thisemail.value)" class="custom-error-message">
                  L'email est obligatoire
              </div>      

                                               
                                            </div>
                                          
                                            
                                        </div>
                                        <div class="form-group row">
                                            
                                            
                                                
                                                <div class="col-md-6 col-lg-12 mb-3 mb-md-0" >
                                                    <label><strong>Mot de passe</strong></label>
                                                    <input
                                                    ngModel
                                                    name="password"
                                                    type="password"
                                                    class="form-control"
                                                     placeholder="Password"
                                                    id="name"
                                                    required
                                                    #thispswd="ngModel"
                                                    [ngClass]="{ 'is-invalid': thispswd.invalid && thispswd.touched }"
>
                                                    <div *ngIf="thispswd.touched && !thispswd.value" class="custom-error-message">
                                                        Le mot de passe est obligatoire
                                                    </div>                                                  <div  class="custom-error-message">
                                                    </div>
                                                 
    
                                                     
                                                </div>
    <div class="col-md-6 col-lg-12 text-right">
                                                        <a routerLink="/request-password" class="text-primary">Mot de passe oublié ?</a>
                                                    </div>

                                            
                                   
        
        
    </div>
   
    

    <re-captcha (resolved)="resolved($event)" siteKey="6LcifnUpAAAAANaMqQ15Kl8cCTmRzVae9tUMa_kt"></re-captcha>
                                       
<div *ngIf="!recaptchaResolved" class="custom-error-message">
    Le reCAPTCHA est obligatoire
  </div>
  
  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!recaptchaResolved">Se Connecter</button>
  </div>
                                    </form>
    
                                    
                                    <!-- <div class="new-account mt-3">
                                        <p>Vous n'avez pas un compte ? <a class="text-primary" routerLink="/signup">S'inscrire</a></p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> 