.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  width: 100%; /* Prend toute la largeur de l'écran */
}

.card-body {
  padding: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.list-group-item {
  border: none;
  padding: 10px 0;
}

.info-and-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Prend toute la largeur de l'écran */
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%; /* Prend la moitié de la largeur de l'écran */
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-container i {
  margin-right: 5px;
}
