<h2
  style="font-size: 24px; font-weight: bold; color: #333; margin-bottom: 20px"
>
  Mes Tests Technique
</h2>
<div *ngIf="tests && tests.length > 0; else noTests">
  <div class="row">
    <div>
      <!-- Colonne pour les détails du test -->
      <div *ngFor="let test of tests" class="card">
        <div class="card-body">
          <h5 class="card-title">{{ test.title }}</h5>
          <p class="card-text">{{ test.description }}</p>
          <p class="list-group-item" style="color: red">
            NB : Le quiz sera soumis automatiquement lorsque le temps sera
            écoulé
          </p>

          <div style="display: flex; justify-content: space-between">
            <p>
              Chaque question vaut
              <b
                >{{
                  test.maxMarks / test.numberOfQuestions | number : "1.1-1"
                }}
                point</b
              >
            </p>
            <span class="icon-container">
              <i class="mdi mdi-comment-question"></i>
              <p>{{ test.numberOfQuestions }} questions</p>
            </span>
            <span class="icon-container">
              <i class="mdi mdi-clock"></i>
              <p>{{ test.numberOfQuestions * 2 }} min</p>
            </span>
            <button
              (click)="startQuiz(test.qid, test.candidatureId)"
              class="btn btn-inverse-primary"
            >
              Commencer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noTests>
  <p>Vous n'avez aucun test technique pour le moment.</p>
</ng-template>
