<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="poste-details">
        <div class="d-flex justify-content-center">
          <h2
            style="
              font-size: 24px;
              font-weight: bold;
              color: #333;
              margin-bottom: 20px;
            "
          >
            {{ formationInfo.title }}
          </h2>
        </div>
      </div>

      <h6></h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body dashboard-tabs p-0">
        <ul class="nav nav-tabs px-4" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="overview-tab"
              data-bs-toggle="tab"
              href="#overview"
              role="tab"
              aria-controls="overview"
              aria-selected="true"
              >Detail de la Formation</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              id="purchases-tab"
              data-bs-toggle="tab"
              href="#purchases"
              role="tab"
              aria-controls="purchases"
              aria-selected="false"
              >Groupes
            </a>
          </li>
        </ul>
        <div class="tab-content py-0 px-0">
          <div
            class="tab-pane fade show active"
            id="overview"
            role="tabpanel"
            aria-labelledby="overview-tab"
          >
            <div class="container py-5">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card shadow-sm border-0">
                    <div class="card-body p-4">
                      <h4 class="card-title mb-3 d-flex justify-content-center">
                        {{ formationInfo.formateurName }}
                      </h4>
                      <div class="media d-flex justify-content-center">
                        <img
                          src="assets/images/{{ formationInfo.formateurImage }}"
                          class="mr-3"
                          alt="Formateur"
                          width="100"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card shadow-sm border-0">
                    <div class="card-body p-4">
                      <h4 class="card-title mb-3">A propos de la Formation</h4>
                      <p class="card-text">{{ formationInfo.description }}</p>
                      <ul class="list-unstyled">
                        <li>
                          <strong>Nombre de Chapitres :</strong>
                          {{ formationInfo.chapitre }}
                        </li>
                        <li>
                          <strong>Durée de la Formation :</strong>
                          {{ formationInfo.duree }}
                        </li>
                        <li>
                          <strong>Département :</strong>
                          {{ formationInfo.department }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="sales"
            role="tabpanel"
            aria-labelledby="sales-tab"
          >
            <br />
          </div>
          <div
            class="tab-pane fade"
            id="purchases"
            role="tabpanel"
            aria-labelledby="purchases-tab"
          >
            <br />

            <div class="container">
              <div class="row">
                <select
                  class="form-select"
                  [(ngModel)]="selectedEtat"
                  (change)="applyFilter()"
                >
                  <option value="Tous">Tous</option>
                  <option value="En_Attente">En Attente</option>
                  <option value="Termine">Session Crée</option>
                  <option value="Certifie">Certifié</option>
                </select>
                <br>
                <br>

                <ng-container
                  *ngIf="filteredGroupes.length > 0; else noManagerServices"
                >
                  <div
                    class="col-lg-4 col-md-6"
                    *ngFor="let groupe of filteredGroupes"
                  >
                    <div class="card">
                      <div class="row mt-2 mx-2">
                        <!-- Modifié la classe mt-4 à mt-2 -->
                        <div class="nav-profile d-flex align-items-center">
                          <span class="fw-bold">{{ groupe.groupe.nom }}</span>
                          <span>
                            <div class="filter">
                              <button
                                class="icon"
                                data-bs-toggle="dropdown"
                                style="
                                  border: none;
                                  background-color: #ffffff00;
                                "
                              >
                                <i
                                  class="mdi mdi-dots-vertical"
                                  style="margin-left: 80px"
                                ></i>
                              </button>
                              <ul
                                class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                              >
                                <li class="dropdown-header text-start"></li>

                                <li>
                                  <button
                                    class="dropdown-item mb-2"
                                    (click)="openModael(groupe.groupe.id)"
                                  >
                                    <span><i class="mdi mdi-eye"></i> </span>
                                    Detail du groupe
                                  </button>
                                </li>
                              </ul>
                            </div></span
                          >
                        </div>
                      </div>

                      <div class="card-body">
                        <div class="mb-3 align-items-center d-flex">
                          <span class="fw-bold"
                            >Nombre de participants: &nbsp; &nbsp; &nbsp;
                          </span>
                          <span class="badge bg-danger">{{
                            groupe.nombreMembres
                          }}</span>
                        </div>
                        <div class="mb-3 align-items-center d-flex">
                          <span class="fw-bold"
                            >Etat: &nbsp; &nbsp; &nbsp;
                          </span>
                          <span
                            class="badge"
                            [class.bg-danger]="
                              groupe.groupe.etat === 'En_Attente'
                            "
                            [class.bg-warning]="
                              groupe.groupe.etat === 'Termine'
                            "
                            [class.bg-success]="
                              groupe.groupe.etat === 'Certifie'
                            "
                            [style.color]="'white'"
                          >
                            {{
                              groupe.groupe.etat === "En_Attente"
                                ? "En Attente"
                                : groupe.groupe.etat === "Termine"
                                ? "Session Crée"
                                : groupe.groupe.etat
                            }}
                          </span>
                        </div>
                        <div
                          class="trainer-profile d-flex align-items-center mb-3"
                        >
                          <span class="fw-bold"
                            >Members: &nbsp; &nbsp; &nbsp;</span
                          >
                          <div class="avatar-stack">
                            <img
                              *ngFor="
                                let image of groupe.collaborateurImages;
                                let i = index
                              "
                              [src]="'assets/images/' + image"
                              [style.left.px]="i * 20"
                              [style.zIndex]="3 - i"
                              class="rounded-circle"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #noManagerServices>
                  <p>Aucun Groupe trouvé</p>
                </ng-template>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="test"
            role="tabpanel"
            aria-labelledby="test-tab"
          >
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
