.description-textarea {
    height: 150px; /* Ajustez la hauteur selon vos besoins */
    resize: vertical; /* Permet de redimensionner verticalement uniquement */
   }

   
   .btn-inverse-info {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }
   
   .btn-inverse-info:hover {
    background-color: #138496;
   }
   
   .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }
   
   .btn-primary:hover {
    background-color: #0056b3;
   }
   