<div class="card">
  <div class="card-body">
      <h4 class="card-title">Fiche de poste</h4>
      <hr>
      
      <div class="d-flex justify-content-end">
        <button class="btn-inverse-info" (click)="openModal()">Gérer les compétences du poste</button>
       </div>
         
      <form (ngSubmit)="updatePoste()">
        <div>
          <p class="card-description">Mettre à jour Fiche de poste</p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="titre">Titre:</label>
                <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="titre" required>
              </div>
            </div>
            <div class="col-md-6">
              <!-- Description input -->
              <div class="form-group">
                <label for="typeContrat">Type de Contrat</label>
                <select class="form-control" id="typeContrat"  name="typeContrat" [(ngModel)]="typeContrat" required
                >
                        <option value="" disabled selected>-- Sélectionnez un type de contrat --</option>
                          <option value="Professionnalisation">Professionnalisation</option>   
                          <option value="TempsPartiel">TempsPartiel</option>
                          <option value="Consultant">Consultant </option>  
                        <option value="CDI">CDI</option>
                        <option value="CDD">CDD</option> 
                        <option value="Temporaire">Temporaire</option> 
  
                               </select>
              
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control description-textarea" id="description" name="description" [(ngModel)]="description" required></textarea>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
  </div>
 </div>
 