<style>
    body {
       font-family: 'Arial', sans-serif; /* Utilisez une police moderne et lisible */
       background-color: #f4f4f4; /* Ajoutez un fond légèrement grisé pour une meilleure lisibilité */
    }
   
    .card {
       background-color: #ffffff;
       border-radius: 10px;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       margin: 20px;
       padding: 20px;
       width: 90%;
       display: flex;
       flex-direction: column;
       transition: transform 0.3s ease; /* Ajoutez une transition pour les animations */
   
       position: relative; /* Permet de positionner le bouton par rapport à la carte */
    animation: fadeIn 1s ease-out;  }
   
    .card:hover {
       transform: scale(1.02); /* Augmentez légèrement la taille de la carte lorsqu'elle est survolée */
    }
   
    .card-title {
     font-size: 15px; /* Réduit la taille du titre */
    text-align: left;
       margin-bottom: 10px;
       color: #3d444a; /* Changez la couleur du titre pour une meilleure esthétique */
    }
   
    .card-description {
       margin-bottom: 10px;
       text-align: center;
       color: #333; /* Changez la couleur du texte pour une meilleure lisibilité */
    }
   
    .pill {
       background-color: #3498db;
       color: #ffffff;
       padding: 5px 10px;
       margin: 3px;
       border-radius: 15px;
       transition: background-color 0.3s ease; /* Ajoutez une transition pour les animations */
    }
   
    .pill:hover {
       background-color: #2980b9; /* Changez la couleur de fond lorsqu'il est survolé */
    }
   
    .pill-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       margin-bottom: 10px;
    }
   
    .card-info {
       display: flex;
       justify-content: space-between;
       width: 100%;
       margin-bottom: 10px;
    }
    .card-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}   
    .card-info p {
       margin: 0;
       width: 45%;
    }
   
    .card-info .icon {
       margin-right: 5px;
    }
   
    .apply-button {
       background-color: #3498db;
       color: #ffffff;
       padding: 10px 20px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s ease, transform 0.3s ease; /* Ajoutez une transition pour les animations */
    }
   
    .apply-button:hover {
       background-color: #2980b9;
       transform: scale(1.05); /* Augmentez légèrement la taille du bouton lorsqu'il est survolé */
    }
    h4 {
       font-size: 28px; /* Augmentez la taille de la police pour un impact visuel */
       font-weight: normal;
       color: #3498db; /* Changez la couleur pour une meilleure esthétique */
       text-align: center; /* Centrez le texte pour une meilleure présentation */
       margin-bottom: 30px; /* Ajoutez un espace pour séparer l'en-tête du contenu */
       text-transform: uppercase; /* Transformez le texte en majuscules pour un aspect plus moderne */
       letter-spacing: 1px; /* Ajoutez un espace entre les lettres pour une meilleure lisibilité */
    }
    .poste-etat {
    color: #888; /* Gris */
    font-style: italic; /* Italique */
    margin-left: 10px; /* Espacement à gauche */
}

    
</style>

<div *ngIf="approvedPostes && approvedPostes.length > 0">
    <h4>Mes Fiches de postes</h4>
    <div class="d-flex justify-content-end ">
        <button type="button"  class="btn btn-inverse-primary"  (click)="ToList()">+ Fiche de poste</button>
      </div>    
    <div class="card" *ngFor="let poste of approvedPostes ; let i = index" >
        <div class="card-controls">
            <div class="action-buttons" style="display: flex; align-items: center;">
                <div class="dropdown">
                   
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">Actions</button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item">Mettre A jour</a>
                          <a class="dropdown-item">Supprimer</a>
                        </div>                          
                      </div>
                </div>
                <button (click)="toggleFormVisibility(i)" class="btn btn-link">
                    <i [ngClass]="cardStates[i] ? 'mdi mdi-window-minimize' : 'mdi mdi-window-maximize'"></i>
                </button>
                <!-- Bouton de menu déroulant pour les actions supplémentaires -->
              
            </div>
            
            
        </div>
       <div class="card-title">{{ poste.titre }}</div>

       <div class="card-description" *ngIf="cardStates[i]">{{ poste.description }}</div>
       <div class="pill-container" *ngIf="cardStates[i]">
         <span *ngFor="let competence of poste.competences; let i = index" class="pill" [style.background-color]="getRandomColor(i)">
           {{ competence.nom }}
         </span>
       </div>
       <div class="card-info" *ngIf="cardStates[i]">
         <p><span class="icon">🏢</span> Departement: {{ poste.managerService ? poste.managerService.department : 'N/A' }}</p>
         <p><span class="icon">👤</span> Manager Service: {{ poste.managerNom ? poste.managerNom : 'N/A' }} {{ poste.managerPrenom ? poste.managerPrenom : 'N/A' }}</p>
         <p><span class="icon">📍</span> Nombre de poste ouverts: {{ poste.nombrePostesDisponibles }}</p>
       </div>
    </div>
</div>
<div *ngIf="approvedPostes && approvedPostes.length === 0">
    <p>Aucune fiche de poste trouvée.</p>
</div>