<main class="content">
  <div class="container">
    <h1 class="h3 mb-3">Messages</h1>

    <div class="card">
      <div class="row">
        <div>
          <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1">
              <div class="position-relative">
                <img
                  [src]="'assets/images/' + otherUser?.image"
                  class="rounded-circle mr-1"
                  alt="Sharon Lessman"
                  width="40"
                  height="40"
                />
              </div>
              <div class="flex-grow-1 pl-3">
                <strong>
                  &nbsp; &nbsp; &nbsp; {{ otherUser?.nom }}
                  {{ otherUser?.prenom }}
                </strong>
              </div>
              <div></div>
            </div>
          </div>

          <div
            class="position-relative"
            #chat
            id="chat"
            style="height: 500px; overflow-y: auto"
          >
            <div class="chat-messages p-4" *ngFor="let msg of messages | async">
              <div
                class="chat-message-left pb-4"
                *ngIf="
                  msg!.id!.toString().includes(otherUser!.id!.toString());
                  else thisUserMsg
                "
              >
                <div>
                  <img
                    [src]="'assets/images/' + otherUser?.image"
                    class="rounded-circle mr-1"
                    alt="Sharon Lessman"
                    width="40"
                    height="40"
                  />
                </div>
                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                  <div class="font-weight-bold mb-1">{{ otherUser?.nom }}</div>
                  {{ msg.content }}
                  <br />
                  <div class="text-muted small text-nowrap mt-2">
                    {{ whenWasItPublished(msg!.t_stamp!) }}
                  </div>
                </div>
              </div>

              <ng-template #thisUserMsg>
                <div class="chat-message-right mb-4">
                  <div>
                    <img
                      [src]="'assets/images/' + image"
                      class="rounded-circle mr-1"
                      alt="Chris Wood"
                      width="40"
                      height="40"
                    />
                  </div>
                  <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                    <div class="font-weight-bold mb-1">Vous</div>
                    {{ msg.content }}
                    <br />
                    <div class="text-muted small text-nowrap mt-2">
                      {{ whenWasItPublished(msg!.t_stamp!) }}
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="flex-grow-0 py-3 px-4 border-top">
            <div class="input-group">
              <input
                [formControl]="newMessage"
                type="text"
                class="form-control"
                placeholder="Ecrivez votre Message"
              />
              <button class="btn btn-primary" (click)="sendMsg()">
                Envoyer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
