.ngx-toastr {
    background-color: #28a745; /* Background color green */
    color: #ffffff; /* Text color white */
    position: fixed;
    top: 60px; /* Adjust this value based on your navigation bar height */
    right: 10px; /* Add some margin to the right */
    width: 300px; /* Adjust the width as needed */
    padding: 15px; /* Add padding for a better look */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    border-radius: 5px; /* Add rounded corners */
    z-index: 1000;
  }
  @import "~bootstrap/dist/css/bootstrap.css";

.ngx-toastre {
    background-color: rgb(167, 40, 40); /* Fond vert */
    color: #ffffff; /* Texte blanc */
    position: fixed;
    top: 60px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
    right: 10px; /* Ajoute une marge à droite */
    width: 300px; /* Ajustez la largeur selon vos besoins */
    padding: 15px; /* Ajoute du rembourrage pour un meilleur aspect */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre */
    border-radius: 5px; /* Ajoute des coins arrondis */
    z-index: 1000;
}/* Ajoutez ces lignes à votre fichier styles.css ou styles.scss */